[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pylint = "*"
pygame = "*"
numpy = "*"
matplotlib = "*"

[dev-packages]
rope = "*"
black = "*"

[requires]
python_version = "3.6"
